*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background:aqua ;
}
.Container{
    width: 40%;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 10px;
    min-width: 450px;
    min-height: 100px;
    position: absolute;
    transform: translate(-50%,-50%) ;
}
.header{
    text-align: center;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:relative ;
    padding:30px 20px ;
}
.header input{
    width: 75%;
    height: 30px ;
    padding: 10px;
    color: #000;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    border: 2px solid #d1d2d4;
}
.header input:focus{
    outline: none;
}
.addbtn{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color:aquamarine;
    border: none;
    color: #000;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 30px;
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.addbtn:hover{
    background-color:aqua;
}

#taskList{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 10px;
}
#tasList li:hover{
    background-color: aquamarine;
}
#taskList li{
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    cursor: pointer;
    background-color:aquamarine;
    height: 100%;
    padding: 5px 10px;
    display: flex;
    width: 80%;
}
#taskList li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 15px;
    font-weight: 400;
}
.wraper {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 8px;
}
.deletebtn {
    background-color: red;
    margin-left: 10px;
    width: 100px;
    height: 100%;
    border: 1px solid #000 ;
    outline: none;
    border-radius: 5px;
    color: #fff;'
    cursor: pointer;
}
.deletebtn:hover{
    background-color: brown;
}